////////////////////////////////////////////////
//
// Perform X Spacing
//
////////////////////////////////////////////////

$performx-spacing-unit:       0.333333333rem;   // 6px
$performx-spacing-unit-xxs:   0.666666667rem;   // 12px
$performx-spacing-unit-xs:    1rem;             // 18px
$performx-spacing-unit-s:     1.333333333rem;   // 24px
$performx-spacing-unit-m:     2rem;             // 36px
$performx-spacing-unit-l:     2.666666667rem;   // 48px
$performx-spacing-unit-xl:    3.555555556rem;   // 64px
$performx-spacing-unit-xxl:   5.333333333rem;   // 96px

$performx-spacing: (
  null: $performx-spacing-unit,
  xxs: $performx-spacing-unit-xxs,
  xs: $performx-spacing-unit-xs,
  s: $performx-spacing-unit-s,
  m: $performx-spacing-unit-m,
  l: $performx-spacing-unit-l,
  xl: $performx-spacing-unit-xl,
  xxl: $performx-spacing-unit-xxl,
  none: 0
) !default;


////////////////////////////////////////////////
//
// Perform X Flow units
//
////////////////////////////////////////////////

$performx-flow:         2rem;
$performx-flow-xxs:     $performx-flow / 4;
$performx-flow-xs:      $performx-flow / 3;
$performx-flow-s:       $performx-flow / 2;
$performx-flow-m:       $performx-flow;
$performx-flow-l:       $performx-flow * 1.5;
$performx-flow-xl:      $performx-flow * 2;
$performx-flow-xxl:     $performx-flow * 2.5;

$performx-flows: (
  null: $performx-flow,
  xxs: $performx-flow-xxs,
  xs: $performx-flow-xs,
  s: $performx-flow-s,
  m: $performx-flow-m,
  l: $performx-flow-l,
  xl: $performx-flow-xl,
  xxl: $performx-flow-xxl,
  none: 0
) !default;

////////////////////////////////////////////////
//
// Perform X Breakpoints
//
////////////////////////////////////////////////

$performx-breakpoint-unit-s:    0;
$performx-breakpoint-unit-m:    640px;
$performx-breakpoint-unit-l:    864px;
$performx-breakpoint-unit-xl:    1024px;
$performx-breakpoint-unit-xxl:   1200px;
$performx-breakpoint-unit-xxxl:  1440px;

$performx-breakpoints: (
  s: $performx-breakpoint-unit-s,
  m: $performx-breakpoint-unit-m,
  l: $performx-breakpoint-unit-l,
  xl: $performx-breakpoint-unit-xl,
  xxl: $performx-breakpoint-unit-xxl,
) !default;



